<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.blf2.dao.IUserDao">

    <sql id="UserInfoColumns">
        userId,userNum,userPswd,userPhone,userGrade,userRole,userNote
    </sql>

    <sql id="UserRoleInfoColumns">
        roleId,roleName,roleRule,roleNote
    </sql>

    <sql id="UserInfoJoinUserRoleInfo">
        UserInfo
        LEFT OUTER JOIN
          UserRoleInfo
        ON
          UserInfo.userRoleId = UserRoleInfo.roleId
    </sql>

    <sql id="insertUserInfoColumns">
        userId,userNum,userPswd,userPhone,userGrade,userRoleId,userNote
    </sql>
    <select id="queryUserInfoById" parameterType="String" resultMap="UserInfoResultMap">
        SELECT
          <include refid="UserInfoColumns" />,
          <include refid="UserRoleInfoColumns" />
        FROM
          <include refid="UserInfoJoinUserRoleInfo" />
        WHENEVER
          UserInfo.userId = #{userId}
    </select>
    <select id="queryUserInfoAll" resultMap="UserInfoResultMap">
        SELECT
          <include refid="UserInfoColumns" />,
        FROM
          <include refid="UserInfoJoinUserRoleInfo" />
    </select>

    <insert id="insertUserInfo" parameterType="net.blf2.entity.UserInfo" flushCache="true"
            statementType="PREPARED" timeout="20000">
        INSERT INTO
          UserInfo(
          <include refid="insertUserInfoColumns" />
          )
        VALUES (
        #{userId},#{userNum},#{userPswd},#{userPhone},#{userGrade},#{userRole.userRoleId},#{userNote}
        )
    </insert>

    <update id="updateUserInfo" parameterType="net.blf2.entity.UserInfo" flushCache="true"
            statementType="PREPARED" timeout="20000">
        UPDATE
          UserInfo
        WHENEVER
          
    </update>

    <resultMap id="UserInfoResultMap" type="net.blf2.entity.UserInfo">
        <id property="userId" column="userId"/>
        <result property="userNum" column="userNum"/>
        <result property="userPswd" column="userPswd"/>
        <result property="userPhone" column="userPhone"/>
        <result property="userNote" column="userNote"/>
        <association property="userRole" column="userRoleId"
                     javaType="net.blf2.entity.UserRoleInfo" resultMap="UserRoleInfoResultMap"/>
    </resultMap>
    <resultMap id="UserRoleInfoResultMap" type="net.blf2.entity.UserRoleInfo">
        <id property="roleId" column="roleId" />
        <result property="roleName" column="roleName"/>
        <result property="roleRule" column="roleRule"/>
        <result property="roleNote" column="roleNote"/>
    </resultMap>
</mapper>