<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.blf2.dao.IUserDao">

    <select id="" parameterType="String"
            resultType="net.blf2.entity.UserInfo">
        select * from UserInfo where userId=#{userId}
    </select>
</mapper>